/* Reset CSS */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Main Content Styles */
main {
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Form Styles */
form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); /* Adjusting width for padding and border */
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid #ccc; /* Increased border width */
    border-radius: 5px; /* Adjusted border radius */
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

button[type="submit"],
button[type="button"] {
    background-color: #ffd300;
    color: #fff;
    padding: 12px 24px; /* Increased padding */
    border: 2px solid transparent; /* Increased border width and made it transparent */
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #005d85;
}

/* Table Styles */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border: 10px solid #fff; /* Increased border width */
    outline: 5px solid #ffd300; /* Increased outline width */
}

table th {
    font-weight: bold;
    padding: 10px;
    background: #ffd300;
    border: none;
    text-align: left;
    font-size: 15px;
    border-top: 5px solid #fff; /* Increased border width */
    border-bottom: 5px solid #ffd300; /* Increased border width */
}

table td {
    padding: 10px;
    border: none;
    border-top: 5px solid #fff; /* Increased border width */
    border-bottom: 5px solid #fff; /* Increased border width */
    font-size: 15px;
}

table tbody tr:nth-child(even){
    background: #f8f8f8;
}

/* Responsive Layout */
.column {
    float: left;
    width: 50%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.error-message {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text color */
    padding: 10px; /* Padding around the error message */
    margin-bottom: 15px; /* Margin to separate from other content */
    border: 1px solid #f5c6cb; /* Border around the error message */
    border-radius: 5px; /* Rounded corners */
    text-align: center;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
