<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Campaign calculator</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <h1>Assign pilot and mech</h1>
</header>
<main>
  <label>Assign mech to a pilot</label>
  <table>
    <thead>
    <tr>
      <th>Pilot</th>
      <th>Mech</th>
      <th>Assign</th>
    </tr>
    </thead>
    <tbody>
    <form action="/assignPilotToMech" method="post">
      <tr>
        <td>
            <select id="pilot_id" name="pilot_id">
              <option value="">Select Pilot</option>
              <option th:each="pilot : ${pilots}"
                      th:value="${pilot.pilot_id}"
                      th:text="${pilot.name}"></option>
            </select>
        </td>
        <td>
            <select id="mech_id" name="mech_id">
              <option value="">Select Mech</option>
              <option th:each="mech : ${mechs}"
                      th:value="${mech.mech_id}"
                      th:text="${mech.name}"></option>
            </select>
        </td>
        <td>
            <button type="submit">Assign</button>
        </td>
      </tr>
    </form>
    </tbody>
  </table>
  <form action="/startNewMatch" method="get">
    <button type="submit">return</button>
  </form>
  <form action="/createMech" method="get">
    <button type="submit">Create Mech</button>
  </form>
  <form action="/createPilot" method="get">
    <button type="submit">Create pilot</button>
  </form>
</main>
</body>
</html>