<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"l>
<head>
    <meta charset="utf-8">
    <title th:text="${title} ?: 'Default Title'"></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>Choose a campaign</h1>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>
                    <label>Campaign name</label>
                </th>
                <th>
                    <label>Date</label>
                </th>
                <th>
                    <label>isEnded</label>
                </th>
                <th>
                    <label>Continue campaign</label>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="campaign : ${campaigns}">
                <td th:text="${campaign.campaignName}"></td>
                <td th:text="${campaign.startDate}"></td>
                <td th:text="${campaign.isEnded}"></td>
                <td>
                    <form action="/matchList" method="get">
                        <input type="hidden" name="campaign_id" th:value="${campaign.campaign_id}">
                        <button type="submit">Watch</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <form action="/startACampaign" method="get">
        <button type="submit">Start new campaign</button>
    </form>
    <form action="/createPilot" method="get">
        <button type="submit">Create pilot</button>
    </form>
    <form action="/createMech" method="get">
        <button type="submit">Create mech</button>
    </form>
    <form action="/createUser" method="get">
        <button type="submit">Create user</button>
    </form>
</main>
</body>
</html>