<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Campaign calculator</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Create pilot</h1>
    </header>
    <main>
        <form action="/createPilot" method="post">
            <label>Create a pilot:
                <label>Enter a name
                    <input type="text" name="pilotName" id="pilotName">
                </label>
                <label>Enter a surname
                    <input type="text" name="pilotSurname" id="pilotSurname">
                </label>
                <label>Enter a nickname
                    <input type="text" name="pilotNickname" id="pilotNickname">
                </label>
            </label>
            <label>Choose user:
                <select id="user_id" name="user_id">
                    <option value="">Select User</option>
                    <option th:each="user : ${users}"
                            th:value="${user.user_id}"
                            th:text="${user.nickname}"></option>
                </select>
            </label>
            <button type="submit">Submit</button>
        </form>
        <form action="/" method="get">
            <button type="submit">return</button>
        </form>
    </main>
</body>
</html>