<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Campaign calculator</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <h1>Create pilot and mech</h1>
</header>
<main>
  <form action="/createPilotAndMech" method="post">
    <label>Create a mech:
      <label>Create a chasis:
        <select id="mechChasis_id" name="mechChasis">
          <option value="">Select Chasis</option>
          <option th:each="mechChasis : ${mechChases}"
                  th:value="${mechChasis.chasisName}"
                  th:text="${mechChasis.chasisName}"></option>
        </select>
      </label>
      <label>Enter mech weight:
        <input type="text" name="modelWeight" placeholder="Enter mech weight">
      </label>
      <label>Enter a mech name
        <input type="text" name="mechName" placeholder="Enter mech name">
      </label>
      <button class="submitMechButton" onclick="submitMechButton(this)">Submit</button>
    </label>
  </form>
  <label>Create a pilot:
    <label>Enter a name
      <input type="text" name="pilotName" id="pilotName">
    </label>
    <label>Enter a surname
      <input type="text" name="pilotSurname" id="pilotSurname">
    </label>
    <label>Enter a nickname
      <input type="text" name="pilotNickname" id="pilotNickname">
    </label>
    <button class="submitMechButton" onclick="submitMechButton(this)">Submit</button>
  </label>
  <label>Assign mech to a pilot</label>
  <table>
    <thead>
    <tr>
      <th>Pilot</th>
      <th>Mech</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Pilot1</td>
      <td>
        <select name="mech">
          <option value="mech1">mech1</option>
          <oprion value="mech2">mech2</oprion>
        </select>
      </td>
    </tr>
    </tbody>
  </table>
  <form action="/startNewMatch" method="get">
    <button type="submit">return</button>
  </form>
</main>
</body>
</html>