<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
        <title>Camapign calculator</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body> 
        <header>
            <h1>Pilot info screen</h1>
        </header>
        <table>
            <thead>
                <tr>
                    <th>Pilot name</th>
                    <th>Pilot rank</th>
                    <th>Pilot status</th>
                    <th>Pilot skills</th>
                  </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${pilot.name}"></td>
                    <td th:text="${pilot.pilotRank.name}"></td>
                    <td th:text="${pilot.pilotStatus.name}"></td>
                    <td>Gunnery</td>
                </tr>
            </tbody>
        </table>
        <form action="/playMatch" method="get">
            <input type="hidden" name="campaign_id" th:value="${campaign_id}">
            <input type="hidden" name="match_id" th:value="${match_id}">
            <button type="submit">Play match</button>
        </form>
    </body>
    </body>
</html>